 sudo: true
 dist: trusty

 jobs:
    include:
       - stage: build docker image
         script:
            - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
            - docker build -t testnode .
            - docker images
            - docker tag testnode $DOCKER_USERNAME/testnode
            - docker push $DOCKER_USERNAME/testnode
       - stage: test
         script: docker run --rm $DOCKER_USERNAME/testnode cat hello.txt
       - script: docker run --rm $DOCKER_USERNAME/testnode cat hello.txt